$white: #fff;
$red: #d03f2f;

//THEME 1

//backgrounds
$themeOneMain: 	#3a4764;// main background
$themeOneKeypad: #232c43;
$themeOneScreen: #182034;

//keys

$themeOneKeyMainBg: #637097;
$themeOneKeyShadow: #404e72;
$themeOneDarkRed:  	#93261a;
$themeOneKeyOrange: #eae3dc;
$themeOneKeyOrangeShadow: #b4a597;

//Text

$themeOneText: 	#444b5a;
//(white)



//THEME 2

//backgrounds

$themeTwoLightGray: hsl(0, 0%, 90%);
$themeTwoGrayishRed: hsl(0, 5%, 81%);
$themeTwoVeryLightGray: hsl(0, 0%, 93%);

//keys

$themeTwoDarkModerateCyan: hsl(185, 42%, 37%);
$themeTwoVeryDarkCyan: hsl(185, 58%, 25%);
$themeTwoOrange: hsl(25, 98%, 40%);
$themeTwoDarkOrange: hsl(25, 99%, 27%);
$themeTwoLightGrayishYellow: hsl(45, 7%, 89%);
$themeTwoDarkGrayishOrange: hsl(35, 11%, 61%);

//text

$themeTwoVeryDarkGrayishYellow: hsl(60, 10%, 19%);
//(white)



//Theme 3

//background
$themeThreeVeryDarkViolet: hsl(268, 75%, 9%);
$themeThreeVeryDarkVioletTggle: hsl(268, 71%, 12%);

//keys

$themeThreeDarkViolet: hsl(281, 89%, 26%);
$themeThreeVividMagenta: hsl(285, 91%, 52%);
$themeThreePureCyan: hsl(176, 100%, 44%);
$themeThreeSoftCyan: hsl(177, 92%, 70%);
$themeThreeVeryDarkVioletBg: hsl(268, 47%, 21%);
$themeThreeDarkMagenta: hsl(290, 70%, 36%);

//text

$themeThreeLightYellow: hsl(52, 100%, 62%);
$themeThreeVeryDarkBlue: hsl(198, 20%, 13%);
//(white)


//Typography

$league-spartan: 'League Spartan', sans-serif; 